<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.cmms"/>

    <!-- Add new DAOs here -->
    <bean id="companyDao" class="com.cmms.dao.hibernate.CompanyDaoHibernate"></bean>
    <bean id="groupEngineerDao" class="com.cmms.dao.hibernate.GroupEngineerDaoHibernate"></bean>
    <bean id="itemTypeDao" class="com.cmms.dao.hibernate.ItemTypeDaoHibernate"></bean>
    <bean id="machineDao" class="com.cmms.dao.hibernate.MachineDaoHibernate"></bean>
    <bean id="machineTypeDao" class="com.cmms.dao.hibernate.MachineTypeDaoHibernate"></bean>
    <bean id="supplierDao" class="com.cmms.dao.hibernate.SupplierDaoHibernate"></bean>
    <bean id="workOrderDao" class="com.cmms.dao.hibernate.WorkOrderDaoHibernate"></bean>
    <bean id="workTypeDao" class="com.cmms.dao.hibernate.WorkTypeDaoHibernate"></bean>
    <bean id="materialDao" class="com.cmms.dao.hibernate.MaterialDaoHibernate"></bean>
    <bean id="manHoursDao" class="com.cmms.dao.hibernate.ManHoursDaoHibernate"></bean>
    <bean id="stockItemDao" class="com.cmms.dao.hibernate.StockItemDaoHibernate"></bean>
    <!-- Add new Managers here -->
</beans>